
h1{
      color: purple;
      font-size: 30PX;
      margin-top: 20px;
      Border: pink dotted;
      margin: 3em;
 /}
 .myclass{
     background-color:pink;
   }

   body{
     background-color: yellow;
}
   img{
     border:20px  purple solid;
     width:250px;
     height:250px;
}
li:hover{
  font-size:40px;
  text decoration:underline;
}
li{
  transition:0.3s ease;
}
   ul{
     background-color:purple;
     border:3px purple;
   }
   ol{
     background-color:purple;
     border :3px purple,
   }
